
#email-modal .modal-title {
  font-size: 20px;
}

#email-modal .modal-body {
  font-size: 16px;
}

#email-modal .email-req-input {
  width: 80%;
  border: 2px solid #8C937F;
  border-radius: .5rem;
  height: 2rem;
  text-align: center;
}

#email-modal .label {
  font-weight: bold;
  font-size: 16px;
}

#email-modal .modal-footer {
  display: flex;
  justify-content: center;
}

#email-modal .modal-footer button {
  font-size: 16px;
  cursor: pointer;
  padding: 12px 24px;
  text-align: center;
  font-size: 16px;
  background-color: #555555;
  color: white;
  transition-duration: 0.4s;
  border-radius: .5rem;
}

#email-modal .modal-footer button:hover {
  color: #363636;
  border: 4px solid #8C937F;
  background-color: white;
}